<!DOCTYPE html>
<html lang="en">
<head>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Blog App</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
	<!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="/Stylesheets/style.css">
    <style type="text/css">
		html,
		body,
		header,
		.view {
		  height: 100%;
		}

		@media (max-width: 740px) {
		  html,
		  body,
		  header,
		  .view {
		    height: 1100px;
		  }
		}
		@media (min-width: 800px) and (max-width: 850px) {
		  html,
		  body,
		  header,
		  .view {
		    height: 700px;
		  }
		}

		.top-nav-collapse {
		  background-color: #39448c !important;
		}

		.navbar:not(.top-nav-collapse) {
		  background: transparent !important;
		}

		@media (max-width: 768px) {
		  .navbar:not(.top-nav-collapse) {
		    background: #39448c !important;
		  }
		}
		@media (min-width: 800px) and (max-width: 850px) {
		  .navbar:not(.top-nav-collapse) {
		    background: #39448c !important;
		  }
		}

		h6 {
		  line-height: 1.7;
		}
    </style>
</head>
<body>
	<!-- Main navigation -->
	<header>
	  <!--Navbar-->
	  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/blogs">
	        <strong>Blogger</strong>
	      </a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
	        <ul class="navbar-nav ml-auto">
	          <% if(!currentUser){ %>
	          <li class="nav-item">
	            <a class="nav-link" href="/blogs/new">New Post
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/login">Login
	            </a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/register">Sign Up</a>
	          </li>
	          <% }else{ %>
	          <li class="nav-item">
	                <a class="nav-link" href="/blogs/new">New Post</a>
	            </li>
	          <li class="nav-item">
	            <a class="nav-link" href="#">Signed In as <%= currentUser.username %></a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="/logout">Logout</a>
	          </li>
	          <% } %>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  <!-- Navbar -->